* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
}



body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
body {
    min-height: 100%;
    width: 100%;
    font-family: "Helvetica Now Display DW",sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5625rem;
    font-weight: 500;
    letter-spacing: normal;
    -webkit-text-size-adjust: 100%;
    color: #0f141e;
    overflow-x: hidden;
}


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999; 
}
#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient (to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent ;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    padding-left:40px;

   


}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
   

}



.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;

}

.navbar__links {
    color: #fff;
    display: flex;
    align-items:  center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 1s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    
  /*This is where things get interesting */
  
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4 );
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4 );
    color: #fff;
    transition: all 0.3s ease;

}

.navbar__links:hover {
    color: #9518fc;
    transition: all 0.3s ease;
}


/*@media screen and (max-width: 960px) { */
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display:grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top : -1000px;
        opacity: 1;
        transition: all 0.5 s ease;
        z-index: -1;
    }
    /* Explain to future Khai: This will appear when click on the hamberger, it would expand a page contains all the sub pages */
    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 100vh;
        font-size: 1.6 rem;
    }
    
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;

    }
    .navbar__item {
        width: 100%;

    }
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .navbar__btn {
        padding-bottom: 2 rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0;
        height: 80px;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    /* This is the create the hamberger bar */
    .navbar__toggle .bar {
        display: block; 
        cursor: pointer;
    }

    /* This is the effect of the mobil - menu */
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
       transform: translateY(-8px) rotate(-45deg)
    }
/*}*/
    .navbar__hamberger .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        padding-right: 25px;

    }
        .navbar__hamberger .bar {
        display: block; 
        cursor: pointer;
    }

/* This is the Khai secton or landing page */
.khai {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 200px 0;
}

.khai__containter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;

}


.khai__heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff;

}

.khai__heading span {
    background: #fff;
    color: #000000;
}
.khai__description {
    background: #fff;
    font-size: 20px;
    -moz-text-fill-color: transparent;
}

.hightlight {
    border-bottom: 40px solid rgb(132, 0 , 255);
}




/*This is for the second part - introduction text, left side */
/*This class is for the main landing page background color */
.hero {
    background: #000;
}

/*This class is for the hero container which is left and right column */
.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 3rem calc((100vw - 1300px)/2);
    color: #fff;
}

/*This class is for the left columns background, think this as a left box in a big box name hero-container */
.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    padding: 0rem 2rem;
    

}
h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.column-left h5 {
    font-size: .875rem;
    line-height: 1 .25rem;
    padding-top: 5px;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: #878a8f;
    font-weight: 400;
    letter-spacing: .4em;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
/*This class is for the heading of the left */
.column-left h1 {
    font-size: 4.5rem;
    line-height: 4.6875rem;
    padding-top: 5px;
    padding-bottom: 4px;
    display: flex;
    font-weight: 800;
    letter-spacing: -0.1rem;
   
   
    

}

.column-left h3 {
    font-size: 1.375rem;
    line-height: 1.875rem;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: normal;
    font-weight: 500;
}
/*This class is for the paragrap in the left box */
.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #878a8f;
}
.column-left ul {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #878a8f;
}
.links {
    display: block;
    margin-top: 20px;
    font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
}

.extra {
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    padding-top: 1px;
    padding-bottom: 4px;
    font-weight: 800;
    letter-spacing: normal;
    color: #c1c8d6;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a.special {
    position: relative;
    color: #fff;
    border: 0 none;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
}
a.special:hover{
    text-decoration: underline;
}

nav.links span {
    color: #878a8f;
    margin-left: 15px;
    margin-right: 15px;
}
/*This class is for the button, note that this is in the left box 
button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: #000;
    cursor: pointer;
    border-radius: 50px;

}
*/
/*This class is for the hover effect */



.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;

}
.qualifications-column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3rem 0rem;
}
.hero-image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}

.hero-about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: #000;

}
img {
     width: 100px;
     height: 100px;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
  }

.box {
    transform-style: preserve-3d;
    position: relative;
    animation: animate 20s linear infinite;
    width: 200px;
    height: 200px;
}
@keyframes animate {
    0%
    {
        transform: perspective(1000px) rotateX(0deg) rotateY(34deg);
    }
    100% 
    {
        transform: perspective(1000px) rotateX(360deg) rotateY(34deg);
    }
}
.box span {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 0%;
    max-height: 2%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateX(calc(var(--i)*  45deg)) translateZ(300px);

}


#special_skills {
    position: absolute;
}

.hero-social {
    display: flex;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 3rem calc((100vw - 1300px)/2);
    color: #fff;
    background: #000;
}

